.post{
    width:100%;
    height:500px;
    background:white;
    margin-top:10px;
    border-radius: 20px;
    .topbar{
        // background:red;
        width:100%;
        height:10%;
        display:grid;
        place-items: center;
        // margin-left: 10px;
        // margin-right: 10px;
        div{
            // background:red;
            margin-top:10px;
            height:95%;
            width:95%;
            display:flex;
            flex-direction:row;
            // justify-content:space-between;
            #user_name{
                width:50%;
            }
            #date{
                width:40%;
                text-align:end;
            }

        }
    }
    .text{
        //  background:blue;
        height:20%;
        width:100%;
        padding:10px;
        display:flex;
        flex-direction: column;
        p{ 
            font-size:30px;
            // font-weight: bold;
            line-height:40px;
        }
        
        // margin-left: 10px;
        // margin-right: 10px;
    }
    .answers{
        // background:green;
        height:60%;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        overflow-y: scroll;
        answer{
            width:90%;
            // background:red;
        }
    }
    .buttons{
        // background:lightgrey;
        height:10%;
        width:100%;
        display:flex;
        align-items:center;
        div{ 
            width:100%;
            height:100%;
            text-align:center;
            mat-form-field{
                width:90%;
            }
        }
    }
}