<div class="post" id="post.post_id">

     <!--Question Edit Modal -->
     <!-- <div class="modal top fade {{editedPost.post_id}}" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog modal-xl ">
        <div class="modal-content" >
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-outline">
                    <h2>Post Title</h2>
                    <input type="text" id="typeText" [(ngModel)]="editedPost.title" class="form-control" placeholder="Post Title" />
                  </div>
                
                  <div class="form-outline">
                    <h2>Post Content</h2>
                    <textarea class="form-control" id="textAreaExample" [(ngModel)]="editedPost.content" rows="4"></textarea>
                  </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" (click)="refreshEditDetails()" >Close</button>
            <button type="button" class="btn btn-primary" (click)="saveEditedPost()">Save changes</button>
            </div>
        </div>
        </div>
    </div> -->
    <!-- Question Edit Modal End -->



    <div class="topbar">
                <div id="user">
                <p id="postedby">Posted by </p>
                <p id="username">{{post_data["user_name"]}}</p>
                 </div>
            <!-- <div> -->
                <p id="date">{{post_data["created"] | timeago}}</p>
                <div class="options">
                    <div class="space"></div>
                    <div class="button">
                        <button *ngIf="canDelete" mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                       <mat-menu #menu="matMenu">
                       <button (click)="deletePost()" mat-menu-item>Delete</button>
                       <button mat-menu-item data-mdb-toggle="modal" (click)="toggle_edit_mode()" >Edit</button>
        
                       </mat-menu>
                    </div>
                </div>
                
            <!-- </div> -->
       
    </div>

    <div *ngIf="edit_mode" (click)="toggleAnswers()" class="text">
        <p id="post_title">{{post_data["title"]}}</p>
        <p id="post_content">{{post_data["content"]}}</p>
       
    </div>

    <div *ngIf="!edit_mode" class="edit_bar">
    <div class="modal-body">
        <div class="form-outline">
            <h2>Post Title</h2>
            <input type="text" id="typeText" [(ngModel)]="editedPost.title" class="form-control" placeholder="Post Title" />
            <!-- <label class="form-label" for="typeText">Post Title</label> -->
          </div>
        
          <div class="form-outline">
            <h2>Post Content</h2>
            <textarea class="form-control" id="textAreaExample" [(ngModel)]="editedPost.content" rows="4"></textarea>
            <!-- <label class="form-label" for="textAreaExample">Question</label> -->
          </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="refreshEditDetails()" >Close</button>
    <button type="button" class="btn btn-primary" (click)="saveEditedPost()">Save changes</button>
    </div>
   </div>

    <div @fadeIn *ngIf="answers_visible" class="answers">
        <div class="sort_button">
             <!-- sort button -->
        <button mat-button [matMenuTriggerFor]="sortmenu"
        #tooltip="matTooltip"
          matTooltip="Sort Answers"
          matTooltipHideDelay="5000"
        >
            
            <mat-icon aria-hidden="false" aria-label="Example home icon">sort</mat-icon>
        </button>
        <mat-menu #sortmenu="matMenu">
        <button (click)="sortAnswersByDate()" mat-menu-item>Sort By Date</button>
        <button (click)="sortAnswersByUpvotes()" mat-menu-item>Sort By Most Helpful</button>
        </mat-menu>
        </div>
       <answer *ngFor="let ans of answers" [answer_data]="ans"></answer>
    </div>

    <div class="buttons">
        <div>
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="answer.answer" placeholder="Answer">
          </mat-form-field>
          <button (click)="postAnswer()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>send</mat-icon>
          </button>
        </div>
    </div>
    
 </div>
