<div class="header">
  <div [routerLink]="['']" class="logo">
    <img  id="logo" src="assets/logo2.png" alt="logo">
    <span id="chat">Chat</span>
    <span id="board">Board</span>
  </div>
    <span class="example-spacer"></span>
    <div class="login">
    <p *ngIf="!loggedIn" mat-stroked-button color="primary" [routerLink]="['login']" >Login</p>
    <p *ngIf="!loggedIn" mat-stroked-button color="primary" [routerLink]="['register']" >Signup</p>
    <div id="user_logo" *ngIf="loggedIn" mat-stroked-button color="primary" [routerLink]="['dashboard']" >{{username | uppercase | slice:0:1}}</div>
    <p *ngIf="loggedIn" mat-stroked-button color="primary" (click)="logout()" >Logout</p>
  </div>
</div>
<!-- 
  <div class="header">
    <div class="space"></div>
    <div class="login">
        <p routerLink="/login" >Login</p>
        <p  routerLink="/register" >SignUp</p>
    </div>
</div> -->