<div class="page">
    <div class="left_sidebar">
        <div class="channel_info card">

            <div id="topbar">
            <p id="channel_name">{{channel_details["channel_name"]}}</p>

            <div (click)="joinButton()" id="join_button">
                <p id="join">{{joinStatus}}</p>
            </div>

            </div>
            <p id="channel_description">{{channel_details["channel_description"]}}</p>
            <p id="admin_name">Admin: {{channel_details["admin"]}}</p>
           
        </div>
      
       <div class="home_buttons">
        <!-- home card -->
        <div class="home card" [routerLink]="['']">
            <div class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </div>
            <div class="text">
                <p>Home</p>
            </div>  
        </div>
        <!-- home card end -->
        <!-- dashboard card -->
        <div class="dashboard card" [routerLink]="['/dashboard']">
            <div class="icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon">space_dashboard</mat-icon>
            </div>
            <div class="text">
                <p>Dashboard</p>
            </div>
            </div>
        <!-- dashboard card end -->
    </div>


    </div>
    <div class="main">
        <post @fadeIn *ngFor="let post of posts" [post_data]="post" [channel_id]="channel_id"></post>
       <!-- <brief-post *ngFor="let post of posts"  [post_data]="post"></brief-post> -->
       <div class="noposts" *ngIf="no_posts">No Posts Yet !</div>
    </div>
    <div class="right_sidebar">
        <create-sidebar></create-sidebar>
        <channels-sidebar></channels-sidebar>
        <recent-posts></recent-posts>
    </div>
</div>

