<div class="answer"> 
          <!------------------------  -->
           <div class="votes">

                  <div class="vote_div">
                    <button mat-icon-button aria-label="Upvote" (click)="upvote()">
                      <mat-icon id="up">arrow_upward</mat-icon>
                    </button>
                  <!-- <p class="upvote">{{votes["upvotes"]}}</p> -->
                  <p class="upvote">{{answer_data["up_votes"]}}</p>
                  </div>

                <div class="vote_div">
                  <button mat-icon-button aria-label="downvote" (click)="downvote()">
                    <mat-icon id="down">arrow_downward</mat-icon>
                  </button>
                <!-- <p class="downvote">{{votes["downvotes"]}}</p> -->
                <p class="downvote">{{answer_data["down_votes"]}}</p>
                </div>
            
            </div>
             <!-- ------------------------------------------- -->
            <div class="content_section">

            <div class="text_section">
              <p id="text">{{answer_data["answer"]}}</p>
            </div>

            <div class="footer">
              
              <div class="answer_details">
                <p class="user">{{answer_data["user_name"]}}</p>
                <p>{{answer_data["created"] | timeago}} </p>
              </div>
              <div class="menu">
                <button *ngIf="canDelete" mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                <button (click)="deleteAnswer()" mat-menu-item>Delete</button>
                </mat-menu>
              </div>
             
            </div>

            </div>
            <!-- -------------------------------------- -->
</div>
    <!-- <div class="answer_top_bar">
        <p class="user">{{answer_data["user_name"]}}</p>
        <p>{{answer_data["created"] | date}} </p>
       
     
        <div>
            <button *ngIf="canDelete" mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
           <mat-menu #menu="matMenu">
           <button (click)="deleteAnswer()" mat-menu-item>Delete</button>
           </mat-menu>
        </div>
      </div>
     
      <div class="answer_text">
          <p>{{answer_data["answer"]}}</p>
      </div> -->

