<div class="page">
  <div class="left_sidebar">
   <mychannels [user_id]="user_id"></mychannels>
  
   <div class="home card" [routerLink]="['']">
    <div class="icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </div>
    <div class="text">
        <p>Home</p>
    </div>
    
</div>

  </div>
  <div class="main">
    <post *ngFor="let post of posts" [post_data]="post"></post>
    <!-- <brief-post *ngFor="let post of posts"  [post_data]="post"></brief-post> -->
    <div class="noposts" *ngIf="no_posts">No Posts Yet !</div>
  </div>
  <div class="right_sidebar">
    <create-sidebar></create-sidebar>
    <channels-sidebar></channels-sidebar>
  </div>
</div>

<!-- <div class="page">
<div class="wrapper">
    <div class="space"></div>
    <div class="main_row">
   
        <post *ngFor="let post of posts" [post_data]="post"></post>
      
    </div>
    <div class="sidebar">
        <create-sidebar></create-sidebar>
      <div id="requests" class="requests">
      <label for="requests">Channel Requests</label>

      </div>
      <channels-sidebar></channels-sidebar>
    </div>
    <div class="space"></div>
 </div>
</div> -->


