.container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
    .left{
        width:50%;
        height:100%;
        display:grid;
        place-items: center;
        img{ width:500px;}
    }
    .right{
        width:50%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        .mat-card{
            width:70%;
        .mat-card-content{
            display:flex;
            flex-direction:column;
        }
    }
    }
}