<div class="container">
  <div class="left">
      <img src="assets/Logo2.svg" alt="ChatBoard">
  </div>
  <div class="right">
     <!-- <div class="details"> -->
         <mat-card>
             <form (ngSubmit)="signup()">
             <mat-card-header>
                 <mat-card-title>
                     <h1>Signup</h1>
                 </mat-card-title>
             </mat-card-header>
             <mat-card-content>

                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput required placeholder="Username" name="username" [(ngModel)]="credentials.username" appearance="outline" type="text">
                  </mat-form-field>
                
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput required placeholder="Email" ngModel email name="email" [(ngModel)]="credentials.email" appearance="outline" type="email">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>Firstname</mat-label>
                    <input matInput required placeholder="Firstname" name="firstname" [(ngModel)]="credentials.firstname" appearance="outline" type="text">
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>Lastname</mat-label>
                    <input matInput required placeholder="Lastname" name="lastname" [(ngModel)]="credentials.lastname"  appearance="outline" type="text">
                  </mat-form-field>
      
                  <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput required placeholder="Password must be 6 characters ,Alphanumeric and MixedCase" [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="credentials.password"  type="password" appearance="outline">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>

             </mat-card-content>
             <mat-card-actions>
                <button mat-stroked-button color="primary" type="reset">Reset</button>
                <button mat-stroked-button color="primary" type="submit">Register</button>
              </mat-card-actions>
            </form>
         </mat-card>
     <!-- </div> -->
  </div>
</div>